
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    background-color: rgb(239, 239, 219);
}

.common {
    /* background-color: #cccccc; */
    position: absolute;
}

li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

a:hover {
    font-weight: bold;
    font-size: 18px;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}
.leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    padding-top: 40px;
}
.mainbody {
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}
.rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
    padding-left: 5px;
}
.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    bottom: 25px;
    font-size: 8px;
    color: #999999;
    text-align: center;
    padding-top: 15px;
    position: fixed;
}

.subheader {
    float: right;
    justify-self: right;
}